<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Page</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/update}" th:object="${user}">
    <input hidden type="text" th:field="*{id}">

    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name">
    </br>
    </br>
    <label for="surname">Surname</label>
    <input type="text" th:field="*{surname}" id="surname">
    </br>
    </br>
    <label for="password">Password</label>
    <input type="text" th:field="*{password}" id="password">
    </br>
    </br>
    <label for="email">Email</label>
    <input type="text" th:field="*{email}" id="email">
    </br>
    </br>
    <label for="age">Age</label>
    <input type="text" th:field="*{age}" id="age">
    </br>
    </br>

    <input type="submit" value="OK">
    </br>
    </br>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Logout">
    </form>
</form>

</body>
</html>