<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Info</title>
</head>
<body>

<form th:method="POST" th:action="@{/save}">
    <input hidden type="text" th:field="*{id}">

    <label for="name">Имя</label>
    <input type="text" th:field="*{name}" id="name">
    <br/><br/>

    <label for="surname">Фамилия</label>
    <input type="text" th:field="*{surname}" id="surname">
    <br/><br/>

    <label for="email">Электронная почта</label>
    <input type="text" th:field="*{email}" id="email">
    <br/><br/>

    <label for="age">Возраст</label>
    <input type="text" th:field="*{age}" id="age">
    <br/><br/>

    <input type="submit" value="Готово">

</form>

</body>
</html>