<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>

<table align="center" width="50%" border="1">
  <caption align="center"><h3>Список пользователей</h3></caption>
  <tr>
    <th bgcolor="#CCCCFF">Имя</th>
    <th bgcolor="#CCCCFF">Фамилия</th>
    <th bgcolor="#CCCCFF">Электронная почта</th>
    <th bgcolor="#CCCCFF">Возраст</th>
    <th bgcolor="#CCCCFF">Операции</th>
  </tr>
  <tr align="center" th:each="user : ${allUsers}" th:object="${user}">
    <td width="200"><p th:text="${user.getName()}"></p></td>
    <td width="200"><p th:text="${user.getSurname()}"></p></td>
    <td width="200"><a href="#" th:text="${user.getEmail()}"></a></td>
    <td width="200"><p th:text="${user.getAge()}"></p></td>
    <td width="200">
      <form th:method="PATCH" th:action="@{/{id}/update(id=${user.getId()})}">
        <input type="submit" value="Изменить">
      </form>
      <form th:method="DELETE" th:action="@{/{id}/(id=${user.getId()})}">
        <input type="submit" value="Удалить">
      </form>
    </td>
  </tr>
</table>
<br/>

<input type="button" value="Добавить"
  onclick="window.location.href = '/add'">

</body>
</html>